body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.navbar {
    overflow: hidden;
    background: #00ffff;
    position: fixed;
    top: 13px;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    padding-left: 130px;
}

.navbar a:hover {
    background-color:#27bcda;
    color: black;
}

.navbar .icon {
    display: none;
    color: red;
    margin-right: 25px;
    background-color: #00ffff;
    cursor: pointer;
}


@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {
        display: none;
    }

    .navbar a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    

}

header {
    margin: 3%;
    columns: 2;
}

header h1 {
    font-size: 500%;
    margin-top: 150px;
}

header span {
    color: rgb(47, 183, 218);
    font-size: 80%;
}

header button {
    background-color: #00ffff;
    border-color: aqua;
    border-radius: 14px;
    width: 20%;
}

header a {
    color: black;
    margin-left: 32px;
    text-decoration: none;
}

header img {
    width: 100%;
}

@media screen and (max-width: 992px) {   
  header h1 {
    font-size: 33px;
    margin-top: 88px;
  }
  header p {
    font-weight: bolder;
  }

  header img {
    margin-top: 62px;
    width: 100%;
  }

  header button {
    background-color: #00ffff;
    border-color: aqua;
    padding: 4px;
    border-radius: 14px;
    width: 70%;
}

header a {
  text-align:start;
}
  

}

.features h1 {
    font-size: 40px;
    color: rgb(47, 183, 218);
    text-align: center;
}

.features h2 {
    font-size: 35px;
    text-align: center;
    color: rgb(47, 183, 218);
}

.features span {
    color: black;
}

.features .icons {
    width: 25%;
    float: left;
    margin-left: 100px;
    text-align: center;
}

.features .icons a {
    font-size: 42px;
    margin-left: 30px;
}

@media screen and (max-width: 992px) {   
  .features h1 {
    font-size: 30px;
}

.features h2 {
  font-size: 25px;
  text-align: center;
  margin-right: 22px;
}

.features .icons {
  width: 75%;
  float: left;
  margin-left: 60px;
  text-align: center;
}

.best .card {
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  float: left;
  border: 1px solid #00ffff;
  margin-bottom: 12px;
  border-radius: 70%;
}

}


.best {
    margin-left: 42px;
    margin-top: 420px;
}
.best h1 {
    font-size: 35px;
    text-align: center;
    color: rgb(47, 183, 218);
    margin-top: 320px;
}

.best span {
    color: black;
}

.best .card {
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    float: right;
    margin-left: 22px;
    border: 1px solid #00ffff;
    margin-bottom: 12px;
    border-radius: 70%;
  }
  
.best  .price {
    color: grey;
    font-size: 22px;
  }
  
.best  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color:#00ffff;
    cursor: pointer;
    width: 40%;
    border-radius: 90px;
    font-size: 18px;
  }
  
 .best .card button:hover {
    opacity: 0.7;
  }

  .best .card img {
    width: 50px;
    height: 170px;
  }

  .best .card a {
    color: yellow;
    margin-left: 32px;
  }

  .you {
    display: flex;
  }

  .rec {
    font-size: 30px;
    text-align: center;
    margin-left: 120px;
  }

  .rec span {
    color: #00ffff;
  }

  @media screen and (max-width: 992px) {   
    .rec {
      font-size: 25px;
      text-align: center;
      margin-left: 10px;
    }
  }

.caret {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
  background-color: #00ffff;
  border-radius: 12px;
  padding: 12px;
  width: 100px;
  margin-left: 120px;
  display: flex;
}

.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
}

.caret-down::before {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */'
  transform: rotate(90deg);  
}

.nested {
  display: none;
}

.active {
  display: block;
}

.you .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    float: left;
    margin-left: 12px;
  }
  
  .you .price {
    color: grey;
    font-size: 22px;
  }
  
  .you .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .you .card button:hover {
    opacity: 0.7;
  }

 .you .card img {
    width: 50px;
    height: 170px;
  }

  .p03__boxs{
    display:flex;
    justify-content: center;
  }
  
  .p03__box {
    border-radius: 1rem;
    background-color: #3c3c46;
    color: white;
    width: 40rem;
    padding: 2rem;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
  }
  
  .p03__title{
    text-align: center;
    font-size: 3rem;
    font-family: "Circular Std Black";
    color: #3c3c46;
  }
  
  .p03__box__title{
    font-size: 2.2rem;
      padding-top:-10rem;
    font-family: "Circular Std Black";
    color: white;
    margin-left: 3rem;
  }
  
  .p03__box__text--top{
    margin-left: 3rem;
    font-size: 1.5rem;
    color: white;
    font-family: "Circular Std book";
  }
  
  .p03__box__text--bottom{
    margin-left: 3rem;
    margin-top:-1rem;
    font-size: 1.5rem;
    color: white;
    font-family: "Circular Std book";
  }
  
  .p03__image{
    z-index: 1;
    margin-top: 5rem;
    margin-right: -4rem;
    border-radius: 50%;
    border: 0.2rem solid black;
  }
  
  
  .dot {
    text-align:center;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    margin-top: 1rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }


  footer {
    background-color: #121315;
    color: #a7a7a7;
    font-size: 16px;
  }
  footer * {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    border: none;
    outline: none;
  }
  .row {
    padding: 1em 1em;
  }
  .row.primary {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    align-items: stretch;
  }
  .column {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    min-height: 15em;
  }
  h3 {
    width: 100%;
    text-align: left;
    color: white;
    font-size: 1.4em;
    white-space: nowrap;
  }
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  li:not(:first-child) {
    margin-top: 0.8em;
  }
  ul li a {
    color: #a7a7a7;
    text-decoration: none;
  }
  ul li a:hover {
    color: #2a8ded;
  }
  .about p {
    text-align: justify;
    line-height: 2;
    margin: 0;
  }
  input,
  button {
    font-size: 1em;
    padding: 1em;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  button {
    background-color: #c7940a;
    color: #ffffff;
  }
  div.social {
    display: flex;
    justify-content: space-around;
    font-size: 2.4em;
    flex-direction: row;
    margin-top: 0.5em;
    cursor: pointer;
  }
  .social i {
    color: #bac6d9;
  }
  
  .copyright {
    padding: 0.3em 1em;
    background-color: #25262e;
  }
  .footer-menu{
    float: left;
      margin-top: 10px;
  }
  
  .footer-menu a{
    color: #cfd2d6;
    padding: 6px;
  
    text-decoration: none;
  }
  .footer-menu a:hover{
    color: #27bcda;
  }
  .copyright p {
    font-size: 0.9em;
    text-align: right;
  }
  @media screen and (max-width: 850px) {
    .row.primary {
      grid-template-columns: 1fr;
    }
    .you {
      display:contents;
      margin-left: 0;
    }
  
  }

  @media screen and (max-width: 50px) {
  .you {
    display: contents;
  }
  }
  

  